.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 20px;

}

.animated-bg{
    box-shadow:0 2px 10px rgba(0, 0, 0, 0.307);
    overflow: hidden;
    width: 105px;
    height: 95px;
    background-image: linear-gradient(to right, #444444 0%, #333333 10%, #444444 20%, #444444 100%);
    background-size: 200% 100%;
    animation: bgPos 1s linear infinite;
}

.image-card {
    width: 105px;
    height: 95px;
    cursor: pointer;
    box-shadow:0 2px 10px rgba(0, 0, 0, 0.307);
    position: relative;
}

.image-card::before {
    content: '';
    width: 100%;
    height: 100%;
    box-shadow:0 2px 10px rgba(0, 0, 0, 0.307);
    overflow: hidden;
    background-image: linear-gradient(to right, #444444 0%, #333333 10%, #444444 20%, #444444 100%);
    background-size: 200% 100%;
    animation: bgPos 1s linear infinite;
   position: absolute;
   z-index: -2;
}

@keyframes bgPos {
    0%{
        background-position: 50% 0;
    }
    100%{
        background-position: -150% 0;
    }
}

.image-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image-card :hover {
    scale: 105%;
}

.full-image {
    display: none;
}

.full-image.active{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.244);
    margin: 0;
    padding: 0;
    top: 0;
    z-index: 100;
}
.full-image.active img {
    object-fit: contain;
    margin: 0 auto;
    width: auto;
    height: 100%;
    z-index: 100;

}
.full-image-container > button {
    
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(75, 68, 85, 0.61);
    fill: aliceblue;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    position: absolute;
    right: 2%;
    top: 2%;
    z-index: 250;
}
.full-image.active button:hover {
    background: rgba(98, 96, 101, 0.484);
    scale: 105%;
}
.full-image-container {
    display: flex;
    justify-content: center;
    position: relative;
    height: 60vh;
    top: 5%;

}
.image-info-container {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    bottom: 0;
    z-index: 200;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.666);
    padding: 10px 0;
}
.image-info-container p {
    margin-right: 30px;
}
@media screen and (min-width: 375px){
    .full-image-container {
    
        height: 65vh;
    }
  }
@media screen and (min-width: 424px) {
  
    .full-image-container {
    
        height: 70vh;
    }
    .animated-bg{
        width: 120px;
        height: 100px;
    }
    .image-card {
        width: 120px;
        height: 100px;
    
    }
}

@media screen and (min-width: 768px) {

  .navigation-list {
    justify-content: flex-start;
  }
  .search-Input {
    width: 50%;
    padding: 15px 35px;
  }

  .animated-bg{
    width: 200px;
    height: 180px;
}
.image-card {
    width: 200px;
    height: 180px;

}
}
@media screen and (min-width: 1024px) {
    .animated-bg{
        width: 250px;
        height: 220px;
    }
    .image-card {
        width: 250px;
        height: 220px;

    }
    .full-image.active{

        width: 100vw;
        height: 100vh;
       
    }
    .full-image-container {

        height: 90vh;

    }
 
}