#root {
  max-width: 1280px;
  margin: 0 auto;
}
.header nav {
  border-bottom: 2px solid rgb(50, 48, 58);
  margin: 0;
  padding: 0;
}
 
.navigation-list {
  display: flex;
  padding: 0;
}

.navigation-list li {
  list-style: none;
  
  padding: 5px;
  margin: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation-list li:hover {
  border-top: 1px solid rgb(100, 99, 104);
}
.navigation-list li a {
  text-decoration: none;
  color: aliceblue;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px  ;
}
.navigation-list li a svg {
  fill: aliceblue;
  margin-right: 5px;
}